.menu {
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    background: var(--cor-preto-fundo-1);

    padding: 20px;
    gap: 5px;
    border: 1px solid var(--cor-verde);
}

.list-menu { 
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.logo {
   width: 300px;
}

.menu-btn {
    font-size: 76px;
    background: none;
    border: none;
    color: var(--cor-verde);
}

.menu a {
    border-bottom: 1px solid ;    
    padding: 6px 2px;
    font-size: 2.4rem;
    color: var(--cor-cinza-normal);
    text-decoration: none;
}

.menu.active {
    display: flex;
}

/*  ---------------------------------------- */
.btn {
    border: none;
    background: none;
    padding: 15px 20px;
    border-radius: 9px;
    font-weight: bold;
    margin: 9px 0;
}

.btn_whatsapp {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.3rem;
    padding: 32px 20px;
    background: var(--gradiente-verde-azul);
}

.btn_whatsapp > p {
    width: 600px;
}

.btn_whatsapp > svg {
    width: 140px;
    height: 140px;
}


.card {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: var(--gradiente-verde-azul);
    border-radius: 9px;
    padding: 12px;
    box-shadow: 0px 8px 10px -2px #000000;
}

.card > p {
    color: var(--cor-preto-fundo-2);
    font-weight: 500;
}

.card h3{
    color: var(--cor-preto);
    font-size: 1.5rem;
}

.icone {
    width: 65px;
}

.logo-card {
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    margin: 12px 0;
    background: linear-gradient(90deg, var(--cor-verde), var(--cor-azul));
}

.logo-background {

    --cor-preto-1: #141A19;
    --cor-preto-2: #080C10;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 148px;
    border-radius: 9px;
    background: linear-gradient(180deg,var(--cor-preto-1),var(--cor-preto-2));
}

.logo-icon {
    width: 110px;
    filter: grayscale(100%) contrast(120%) brightness(110%);
}

.cor-texto-primaria {
    color: var(--cor-verde);
}

.cor-texto-secundaria {
    color: var(--cor-azul);
}

.card-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
}

.sobre-texto {
    width: 250px;
}

.card-sobre svg {
    width: 65px;
    height: 65px;
}

.svg-redes {
    fill: var(--cor-cinza-normal);
}

.svg-star {
    fill: var(--cor-verde);
}

.svg-medal {
    fill: var(--cor-azul);
}

.svg-clock {
    fill: var(--cor-verde);
}