main,header {
    width: 100%;
}

header {
    background: var(--cor-preto);
}

.nav-lista > ul {
    display: flex;
    align-items: center;
    gap: 52px;
}

.nav-lista > ul a {
    padding: 6px 2px;
    font-size: 1.7rem;
    color: var(--cor-cinza-normal);
}

.marcas-container > p {
    text-align: center;
}

.rodape_titulo > div > p {
    text-align: center;
}

.header_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 56px;
}

.nav-hamburguer {
    display: block;
}

@media( min-width: 1024px) {
    .nav-hamburguer {
        display: none;
    }
}

.nav-lista {
    display: none;
}

@media (min-width: 1024px ) {
    .nav-lista {
        display: block;
    }
}

.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1024px ) {
    .hero > img {
        width: 680px;
    }
}

.section {
    padding: 60px 0;
}

.hero-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 12px 16px;
}

.hero-texto>h1 {
    font-size: 3rem;
}

.hero-texto>p {
    text-align: center;
    font-size: 1.6rem;
}

.secao-problemas, .secao-sobre {
    background-color: var(--cor-preto-fundo-2);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.problemas-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1024px ) {
    .problemas-container > p {
        font-size: 1.6rem;
    }
}

.container_card {
    display: flex;
    flex-direction: column;
    gap: 38px;
    margin: 32px 0;
}

@media (min-width: 1024px) {
    .container_card {
        flex-direction: row;
        gap: 100px;
    }
}

.marcas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-marcas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
}

@media (min-width: 1024px ) {
    .logo-marcas-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 100px;
    }
}

.secao-sobre {
    background-color: var(--cor-preto-fundo-2);
}

.sobre-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-sobre-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

@media (min-width: 1024px ) {
    .card-sobre-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 100px;
    }
}

.rodape_titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    margin: 12px 0;
}

.contato > h3 {
    font-size: 1.7rem;
    color: var(--cor-cinza-claro);
}

.container-redes {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.container_card {
    display: flex;
    flex-direction: column;
    gap: 38px;
    margin: 32px 0;
}

@media (min-width: 1024px) {
    .container_card {
        flex-direction: row;
        gap: 100px;
    }
}