.section {
   padding: 60px 0;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 20px;
}

.flex-column {
    flex-direction: column;
}


.container_card {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
    text-align: center;
    padding: 9px 0;
    margin: 12px 0;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 9px;
}

.container-redes {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

hr {
    margin: 12px 0;
    border-top: .3px solid ;
    
}