:root {
    --font-family: "Roboto",sans-serif;

    --cor-verde: #01e341;
    --cor-branco: #fff;

    --cor-preto: #000000;

    --cor-cinza-claro: #e5e5e5;
    --cor-cinza-normal: #bfbfbf;
    --cor-cinza-escuro: #8c8c8c;

    --cor-preto-fundo-1: #1f1f1f;
    --cor-preto-fundo-2: #2a2a2a;
   
}